@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom padding for py-12 class */
.py-12 {
    padding-top: 3rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3rem;
}
